*, *:before, *:after
	box-sizing: border-box
	
@import "_fonts.sass"

body
	font-family: 'Lato', sans-serif
	display: flex
	flex-direction: column
	justify-content: space-between
a
	text-decoration: none
	color: inherit	
.container
	width: 100%
	max-width: 1180px
	margin: 0 auto

// header

.header
	background-image: url(../img/header/headerbg.jpg)
	background-repeat: no-repeat
	background-size: cover
	background-position: center center
.header-content
	padding: 20px 0 240px
	h1 
		font-style: normal
		font-family: 'Lato Bold', sans-serif
		font-size: 100px
		color: #ffffff
		text-align: center
		padding-top: 200px
		padding-bottom: 40px
		span
			font-family: 'Times New Roman', Times, serif
			font-weight: bold
			font-style: italic
			font-size: 36px
			line-height: 30px
			opacity: 0.6
	h2 
		font-style: normal
		font-family: 'Lato Bold', sans-serif
		font-size: 14px
		color: #ffffff
		text-align: center
		padding-top: 40px
		line-height: 30px
		a 
			text-decoration: underline

.header-menu
	display: flex
	align-items: center
	justify-content: space-between
.header-menu__list
	display: flex
	font-weight: bold
	text-transform: uppercase
	font-size: 14px
	font-style: normal
	color: #ffffff
	a	
		padding-left: 35px
		margin-left:  35px
		font-style: normal
		&:first-child
			padding-left: 0
			margin-left: 0
.start
	display: block
	color: #fff
	font-family: 'Lato Bold', sans-serif
	font-size: 18px
	font-weight: bold
	text-decoration: none
	text-transform: uppercase
	border: 4px solid #fff
	padding: 20px 80px
	margin: 0 auto
	max-width: 300px
	text-align: center

	// get section
	
.get-content
	padding: 100px 0 100px 0
	display: flex
	justify-content: space-between
.get-content__item
	text-align: center
.get-content__circle
	width: 100px
	height: 100px
	border: 2px solid #000000
	border-radius: 50%
	margin: 0 auto
	overflow: hidden
	img	
.get-content__title
	padding: 20px 0 0 0	
	color: #000000
	font-family: 'Lato Bold', sans-serif
	font-size: 18px
	line-height: 30px
	font-weight: bold	
	text-transform: uppercase
	position: relative
.get-content__title:after
	content: ''
	width: 90px
	height: 2px
	background-color: #f57365
	display: block
	position: absolute
	margin-top: 10px
	left: 50%
	margin-left: -40px
.get-content__description
	padding-top: 20px	
	font-family: 'Lato Light', sans-serif
	font-size: 16px
	line-height: 18px
	font-style: Light
	text-align: center
	max-width: 360px	

// iphone
.iphone-content
	padding-top: 100px 	
	display: flex
	align-items: center
	justify-content: space-between
.iphone-text__title
	color: #000000
	font-family: 'Lato Bold', sans-serif
	font-size: 18px
	line-height: 30px
	font-weight: bold	
	text-transform: uppercase
	position: relative
	text-align: center
.iphone-text__title:after
	content: ''
	width: 90px
	height: 2px
	background-color: #f57365
	display: block
	position: absolute
	margin-top: 10px
	left: 50%
	margin-left: -40px
.iphone-text__description	
	padding-top: 20px	
	font-family: 'Lato Light', sans-serif
	font-size: 16px
	line-height: 18px
	font-style: Light
	// text-align: center
	max-width: 540px
	p 
		padding-bottom: 35px
.iphone-text__banners
	a 
		margin-right: 15px

// cuisines
.cuisines-content
	padding: 70px 0 65px 0
	.cuisines-title
		font-family: 'Lato Bold', sans-serif
		font-size: 18px
		line-height: 30px
		font-weight: bold	
		text-transform: uppercase
		position: relative
		text-align: center
.cuisines-title:after
	content: ''
	width: 90px
	height: 2px
	background-color: #f57365
	display: block
	position: absolute
	margin-top: 10px
	left: 50%
	margin-left: -40px 
.cuisines-photo__blocks
	display: flex
	justify-content: space-between
	flex-wrap: wrap	
	padding-top: 45px
.cuisines-photo__img
	min-width: 265px
	min-height: 225px
	margin-bottom: 5px	
.italian
	background-image: url(../img/cuisines/italian.jpg)
	background-repeat: no-repeat	
	background-size: cover
	background-position: center center
.indian
	background-image: url(../img/cuisines/indian.jpg)
	background-repeat: no-repeat	
	background-size: cover
	background-position: center center
.french
	background-image: url(../img/cuisines/french.jpg)
	background-repeat: no-repeat	
	background-size: cover
	background-position: center center
.house
	background-image: url(../img/cuisines/house.jpg)
	background-repeat: no-repeat	
	background-size: cover
	background-position: center center	
.seafood
	background-image: url(../img/cuisines/seafood.jpg)
	background-repeat: no-repeat	
	background-size: cover
	background-position: center center	
.sishi
	background-image: url(../img/cuisines/sishi.jpg)
	background-repeat: no-repeat	
	background-size: cover
	background-position: center center
.mexican
	background-image: url(../img/cuisines/mexican.jpg)
	background-repeat: no-repeat	
	background-size: cover
	background-position: center center	
.chinese
	background-image: url(../img/cuisines/chinese.jpg)
	background-repeat: no-repeat	
	background-size: cover
	background-position: center center	
.pizza
	background-image: url(../img/cuisines/pizza.jpg)
	background-repeat: no-repeat	
	background-size: cover
	background-position: center center		
.american
	background-image: url(../img/cuisines/american.jpg)
	background-repeat: no-repeat	
	background-size: cover
	background-position: center center			
.recipes
	padding: 75px 0 15px 0
	text-align: center
	font-family: 'Times New Roman', Times, serif
	font-size: 15px
	font-weight: bold
	font-style: italic
	opacity: 0.6
	line-height: 12px
	color: #ffffff
.recipes-title
	text-align: center
	text-transform: uppercase	
	color: #ffffff
	font-family: 'Lato Bold', sans-serif
	font-weight: bold
	font-size: 36px
	line-height: 12px
	font-style: normal	

	// numbers
.numbers-content
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	padding-bottom: 60px
.numbers-title
	text-transform: uppercase
	font-family: 'Lato Bold', sans-serif
	font-weight: bold
	font-size: 36px
	line-height: 30px
	font-style: normal
	text-align: center
	color: #000000
	margin-bottom: 10px
.numbers-description
	font-family: 'Lato Light', sans-serif
	font-size: 16px
	line-height: 18px
	font-weight: Light
	color: #000000
	text-transform: capitalize	
	text-align: center

	// footer 
footer
	background-color: #f7f7f7	
	border-top: 2px solid #e2e2e2	
.footer-content
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	padding: 40px 0 40px 0
	align-items: center
.footer-copyright
	font-family: 'Lato Light', sans-serif
	font-size: 14px 
	font-weight: Light
	color: #8b8b8b	
.footer-design
	font-family: 'Lato Light', sans-serif
	font-size: 14px 
	font-weight: Light
	color: #e2e2e2
	font-style: normal
	letter-spacing: 8px
	a:hover 
		color: #8b8b8b